<footer class="footer">
  <small>
    <a href="http://thefuelist.com/">The Fuelist</a>
    by The Fuelist Team
  </small>
  <nav>
  <ul>
	<li><%= link_to "About", about_path %></li>
	<li><%= link_to "Contact", contact_path %></li>
	<li><a href="http://thefuelist.com/">News</a></li>
  </ul> 
  </nav>
</footer>